

body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  text-align: center;
  background-color: #666;
  align-items: center;
  margin: auto;
}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
}

img:hover {
  transition-duration: 1s;
  transform: scale(1.05);
}

.amiable {
  display: inherit;

  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;
}

#photos1 {
  max-width: 600px;
}

.indifferent {
  border: 1px solid #aaaa00;
  box-shadow:  -1px 1px #aaaa00, -2px 2px #aaaa00, -3px 3px #aaaa00, -4px 4px #aaaa00, -5px 5px #aaaa00;
  background-color: #dddd22;
}

.dubious {
  border: 1px solid #aa2222;
  box-shadow: -1px 1px #aa2222, -2px 2px #aa2222, -3px 3px #aa2222, -4px 4px #aa2222, -5px 5px #aa2222;
  background-color: #dd4444;
}

/* create a column class! make sure all of the divs within 'container's have a class of 'column' */
.photos_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;

}

img {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* create your tile classes! we recommend .small .med .large */

.small {
  grid-row: span 1;
  grid-column: span 1;
  width: 100%;
}

.med {
  grid-row:  span 2;
  grid-column: span 2;
  width: 100%;
}

.large {
  grid-row:  span 3;
  grid-column: span 3;
  width: 100%;

}
